<!DOCTYPE html>
<html>
  <head>
    <title>Subasteando</title>
    <%= stylesheet_link_tag 'estructura.css', :media => 'screen' %>    
    <%= stylesheet_link_tag 'screen.css', :media => 'projection' %>
    <%= stylesheet_link_tag 'print.css', :media => 'print' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if IE]>
      <%= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %>
    <![endif]-->
  </head>
  <body class="skyblue_des">
    <div class="container_12 " id="container">
      <%= yield %>
    </div>
  </body>
</html>